.container {
    // maintain perspective
    perspective: 1000px;
    cursor: pointer;

    &, .overlay, .front, .back {
        width: 240px;
        height: 320px;
    }

    &.flipped .flipper {
        // flip when hovered
        transform: rotateY(180deg);
    }

    & .flipper {
        // flip speed
        transition: .6s;
        transform-style: preserve-3d;

        position: relative;
        
        & .front, .back {
            backface-visibility: hidden;

            top: 0;
            left: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            border: 1px solid none;
            border-radius: 25px;
        }

        & .front {
            position: relative;
            z-index: 1;
            transform: rotateY(0deg);
            
            overflow: hidden;

            & .overlay {
                z-index: 2;
                background-color: rgb(0, 0, 0, 0.55);
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 1.5rem;
                padding: .5rem 1rem;
                
                transition: opacity .4s;
                opacity: 0;
            }

            &:hover .overlay {
                opacity: 1;
            }
        }

        & .back {
            position: absolute;
            z-index: 0;
            transform: rotateY(180deg);
        }
    }
}